/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Indie Flower", cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: none;
  flex-flow: none;
  border-bottom: 2px dashed #c0c0c0;
}
.navbar .logo {
  margin: 2% 0 1% 0;
  font-family: "Indie Flower", cursive;
  color: #212529;
  font-size: 30px;
  text-decoration: none;
  font-weight: 800;
}
.navbar .logo:hover {
  animation: rotate 1.5s infinite;
}
.navbar ul {
  display: flex;
  justify-content: none;
  flex-direction: row;
  align-items: none;
  flex-flow: none;
  margin: 2% 0;
}
.navbar li {
  padding: 0 20px;
}
.navbar li a {
  text-decoration: none;
  font-size: 16px;
  color: #212529;
}
.navbar li a:hover {
  opacity: 0.5;
}
@media (max-width: 500px) {
  .navbar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-flow: none;
  }
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #ffebcd;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
.home .main-header {
  border-bottom: 2px dotted #c0c0c0;
}
.home .main-header h1 {
  margin: 2% 0;
}
.home .main-header p {
  margin: 2% 0;
}
.home .content-section {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: none;
  flex-flow: wrap;
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
.home .content-section .img-content img {
  border-radius: 10px;
}
.home .inverse-content {
  padding-bottom: 30px;
  border-bottom: 2px dashed #c0c0c0;
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
.home .content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
.home .content-destination img {
  border-radius: 10px;
}
.home .content-pick {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: none;
  flex-flow: none;
  padding-top: 30px;
  border-top: 2px dashed #c0c0c0;
}
.home .content-pick .destination {
  width: 30%;
  margin-bottom: 30px;
}
.home .content-pick .destination .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: none;
  flex-flow: none;
  border-radius: 20px;
  padding: 20px;
  color: #ffffff;
  background: #17a2b8;
}
.home .main-form {
  padding: 2% 0 5% 0;
  border-top: 2px dashed #c0c0c0;
}
.home .main-form input {
  border: none;
}
.home .main-form h1 {
  text-align: center;
}
.home .main-form form {
  margin: 5% 0;
  border: 2px solid #c0c0c0;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  flex-flow: none;
}
.home .main-form form .form-top label {
  font-size: 20px;
}
.home .main-form form .form-top input {
  margin: 10% 0;
}
.home .main-form form .form-top span {
  font-size: 16px;
}
.home .main-form form .form-bottom {
  display: flex;
  justify-content: none;
  flex-direction: column;
  align-items: none;
  flex-flow: none;
  margin: 1% 0 2% 0;
}
.home .main-form form .form-bottom label {
  font-size: 15px;
  margin: 10% 0;
}
.home .main-form form .form-bottom input {
  padding: 5% 10%;
  border-bottom: 2px solid #c0c0c0;
}
.home .main-form a {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: none;
  flex-flow: none;
  border-radius: 20px;
  padding: 20px;
  color: #ffffff;
  background: #17a2b8;
  text-decoration: none;
}
@media (max-width: 500px) {
  .home .content-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: none;
    flex-flow: none;
  }
  .home .content-section .text-content {
    width: 100%;
    padding-right: 0;
  }
  .home .content-section .img-content {
    width: 100%;
    padding-left: 0;
  }
  .home .content-section .img-content img {
    border-radius: 10px;
    width: 100%;
    padding: 0 2%;
    margin: 2% 0;
  }
  .home .content-destination {
    width: 85%;
  }
  .home .content-pick {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: none;
    flex-flow: none;
    margin: 2% 10%;
  }
  .home .content-pick .destination {
    width: 100%;
    margin-bottom: 30px;
  }
}
