// Navigation Styles here
.navbar {
  @displayflex();
  border-bottom: 2px dashed @navigation-border;

  .logo {
    margin: 2% 0 1% 0;
    font-family: @font;
    color: @shark;
    font-size: 30px;
    text-decoration: none;
    font-weight: 800;
  }

  ul {
    @displayflex();
    margin: @margin;
  }

  li {
    padding: 0 20px;

    a {
      text-decoration: none;
      font-size: 16px;

      color: @shark;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
